@font-face {
    font-family: roboto;
    src: url(./font/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: roboto;
}
header {
    background-color: rgb(106, 106, 238);
    padding: 1.2rem;
    position: relative;
}
body {
    background-color: black;
}
#number_contener {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: white;
}
#button_contener {
    display: flex;
    justify-content: space-between; /* Espace entre les boutons */
    margin-top: 1.2rem;
}
button {
    height: 2rem;
    width: 10rem;
    background-color: rgb(238, 42, 42);
    font-weight: bolder;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
    border: 2px solid white;
    margin: 0.5rem;
    display: inline-block;
    position: relative;
}
button:hover {
    background-color: rgb(200, 30, 30);
}
.reset-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: rgb(42, 238, 42);
}
.upgrades {
    display: flex;
    flex-direction: column; /* Colonne pour aligner verticalement */
    align-items: center; /* Centre les éléments horizontalement */
}
.upgrade {
    background-color: transparent;
    color: white;
    padding: 0.5rem 0;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
    width: 10rem;
    font-weight: bolder;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid white;
    margin: 0.5rem 0; /* Espacement entre les améliorations */
}
.price {
    color: white;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
}